body {
  font-family: Arial, Helvetica, sans-serif;
}

.panel {
  background-color: rgb(26, 26, 26);
  position: absolute;
  border-radius: 12px;
  overflow: hidden;
  transition:
    width 0.2s,
    height 0.2s;
}

.settingsMenuContent {
  margin: 8px 8px;
}

.settingsMenuLink {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.settingsClosed {
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  margin: 20px;
}

.settingsOpen {
  top: 0px;
  right: 0px;
  width: 600px;
  max-width: calc(100vw - 40px);
  margin: 20px;
}

.button {
  border-radius: 12px;
  background-color: rgb(26, 26, 26);
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
}

.button.settings {
  top: 0px;
  right: 0px;
}

.burgerXDash {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 8px;
  left: 30px;
  position: absolute;
  margin: -4px 0px 0px -20px;
  transition:
    top 0.2s,
    right 0.2s,
    width 0.2s,
    margin 0.2s,
    rotate 0.2s;
}

.bd1 {
  top: 15px;
}

.bd2 {
  top: 30px;
}

.bd3 {
  top: 45px;
}

.bd1.open {
  top: 30px;
  width: 50px;
  margin: -4px 0px 0px -25px;
  rotate: 45deg;
}

.bd2.open {
  width: 10px;
  margin: -4px 0px 0px -5px;
}

.bd3.open {
  top: 30px;
  width: 50px;
  margin: -4px 0px 0px -25px;
  rotate: -45deg;
}

.boing {
  animation: bounce 0.35s;
}

@keyframes bounce {
  0% {
    transform: scale(0.85);
  }
  25% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.menuTabs {
  margin: 8px;
}